$primary-color: #234266;
$primary-font-size: 60px;
$white-color: #fff;
$nav-focus-color: #a2d5e6;
$color-black: #000;
$footer-color: #797d82;

@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Black.otf')  format('opentype'),
	     url('../fonts/Avenir-Black.woff') format('woff'), url('../fonts/Avenir-Black.ttf')  format('truetype'), url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Roman.otf')  format('opentype'),
	     url('../fonts/Avenir-Roman.woff') format('woff'), url('../fonts/Avenir-Roman.ttf')  format('truetype'), url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Medium.otf')  format('opentype'),
	     url('../fonts/Avenir-Medium.woff') format('woff'), url('../fonts/Avenir-Medium.ttf')  format('truetype'), url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir-Roman';
}

img {
  max-width: 100%;
}

h1 {
  color: $white-color;
  font-family: 'Avenir-Medium';
  font-size: $primary-font-size;
  margin-top: 95px;
}

h2 {
  color: $primary-color;
  font-family: 'Avenir-Black';
  font-size: $primary-font-size / 3 + 4;
}

h3 {
  @extend h2;
  font-size: $primary-font-size / 3 - 3;
}

.align-center {
  text-align: center;
}

.banner-div {
  background-image: url('../images/banner.png');
  height: 450px;
}

.main-section {
  padding-bottom: 40px;
  padding-top: 40px;
}
// Nav Bar CSS 
.navbar {
  background-color: $white-color;
  border: 0;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: $primary-color;
  background-color: $nav-focus-color;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: $nav-focus-color;
  color: $primary-color;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: 'Avenir-Black';
  font-size: $primary-font-size / 6 + 4;
  color: $primary-color;
  padding: 5px 40px;
}

ol li {
  margin-bottom: 15px;
}
// Footer CSS 
footer {
  @extend .main-section;
  background-color: $footer-color;
  
h3 {
  font-size: $primary-font-size / 3 + 1;
  color: $white-color;
}

p {
  color: $white-color;
  font-family: 'Avenir-Medium';
}

a {
  color: $white-color;
}
	
ul {
  list-style-type: none;
  margin-top: 150px;
  padding: 0;

li {
  display: inline;
  
a {
  font-family: 'Avenir-Black';
  padding: 0 10px;
}

a:hover {
  text-decoration:none;
}
}	
}
}
// Media Screen
$information-ipad: 'only screen and (max-width : 769px)';

@media #{$information-ipad} {
h1 {
  margin-top: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
}

}

$information-mobile: 'only screen and (max-width : 414px)';

@media #{$information-mobile} {

h1 {
  font-size: 40px;
  color: $color-black;
  margin-top: 30px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.navbar {
  background-color: $nav-focus-color;
}

footer {
ul {
  margin: 0;
  text-align: center;

li a {
  padding:0;
}
}

p {
  text-align: center;
}
}
}
