img {
  max-width: 100%; }

h1 {
  font-size: 60px;
  color: #fff;
  margin-top: 95px; }

h2, h3 {
  font-size: 24px;
  color: #234266;
  font-weight: bold; }

h3 {
  font-size: 17px; }

.align-center {
  text-align: center; }

.banner-div {
  background-image: url("../images/banner.png");
  height: 450px; }

.main-section, footer {
  padding-top: 40px;
  padding-bottom: 40px; }

.navbar {
  background-color: #fff;
  border: 0px; }

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #234266;
  background-color: #a2d5e6; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #234266;
  background-color: #a2d5e6; }

.navbar-inverse .navbar-nav > li > a {
  color: #234266;
  font-size: 14px;
  font-weight: 900;
  padding: 5px 40px; }

ol li {
  margin-bottom: 15px; }

footer {
  background-color: #797d82; }
  footer h3 {
    font-size: 21px;
    color: #fff; }
  footer p {
    color: #fff; }
  footer a {
    color: #fff; }
  footer .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  footer .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }
  footer nav {
    background-color: transparent !important; }
    footer nav .nav {
      margin-top: 150px; }
    footer nav a {
      color: #fff !important;
      padding: 5px 22px !important; }

@media only screen and (max-width: 769px) {
  h1 {
    margin-top: 30px; }

  .navbar-inverse .navbar-nav > li > a {
    padding: 5px 12px; } }
@media only screen and (max-width: 414px) {
  h1 {
    font-size: 40px;
    color: #000;
    margin-top: 30px; }

  .navbar {
    background-color: #a2d5e6; }

  .nav {
    margin-top: 0 !important; } }
